body{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 600px;
    background-color: rgba(255, 221, 109, 0.667);
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.input_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 150px;
    min-width: 450px;
    gap: 10px;
}
.num_input{
    outline: none;
    min-height: 80px;
    min-width: 20px;
    background-color: rgb(215, 244, 158);
    border: 5px solid rgb(246, 163, 46);
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
}
.operator_input{
    height: 90px;
    width: 90px;
    outline: none;
    background-color: rgb(255, 211, 109);
    border: 5px solid rgb(236, 161, 32);
    border-radius: 50%;
    font-size: 50px;
    text-align: center;
}
.output{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    min-width: 380px;
    flex-grow: 1;
    background-color: rgb(247, 213, 177);
    border: 5px solid rgb(246, 163, 46);
    border-radius: 10px;
    font-size: 25px;
}
.right{
    flex-wrap: wrap;
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.numpad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.row{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 10px;
}
.operators{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 10px;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 90px;
    border: 2px solid rgb(236, 195, 32);
    border-radius: 15%;
    background-color: blanchedalmond;
    font-size: 30px;
    transition: 200ms ease;
}
.fun_button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 90px;
    border: 2px solid rgb(236, 195, 32);
    border-radius: 15%;
    background-color: blanchedalmond;
    font-size: 30px;
    animation: fun_button 100ms timing-function delay 3 direction fill-mode;
}
@keyframes fun_button{
    100%{
        transform: rotate(360);
    }
}
.operator_buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 90px;
    border: 2px solid rgb(236, 154, 32);
    border-radius: 15%;
    background-color: rgb(255, 196, 107);
    font-size: 30px;
    transition: 200ms ease;
}
.buttons:hover{
    background-color: rgb(255, 211, 109);
    border: 2px solid rgb(236, 161, 32);
    border-radius: 50%;
}
.operator_buttons:hover{
    background-color: rgb(255, 234, 171);
    border: 2px solid rgb(236, 143, 76);
    border-radius: 50%;
}